.App {
  text-align: center;
  background-color: #ff66c4;
  font-family: 'Poiret One', cursive;

}

.App-link {
  color: #61dafb;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 150px;
  width: 100%;
  padding-bottom: 10px;
}

/* .user-card {
  /* display: flex;
  height: 650px;
  width: 450; */


.user-img {
  display: flex;
  justify-content: center;
  height: 650px;
  width: 450px;
  padding-left: 25%;
  padding-right: 25%;
  
}

.form-container {
  display: flex;
  flex-direction: column;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 20px;
  padding-bottom: 50px;
}

.post-bttn {
  height: 100px;
  width: 100px;
}
/* h1 {
  border: black solid;
  display: inline;
} */

.card-div {
border: black solid;
border-style: dotted;
box-sizing: border-box;
border-width: 20px;
border-collapse: separate;
border-spacing: 5px 3rem;
padding-bottom: 100px;
margin-bottom: 2%;
}
.card-img{
  display:flex;
  justify-content: center;
  padding-top: 20px;
}
.nav-bar {
  height: 100vh;
  display: flex;
  position: fixed;
  z-index: 1;
  float: left;
  justify-content: left;
  width: 245px;
  flex-direction: column;

}

.home-button {
  height: 240px;
  width: 240px;
  left: 0;
  top: 0;
  z-index: 1;
  display: flex;
  border-radius: 50%;
}

.nav-link {
  display: flex;
  height: 240px;
  width: 240px;
  border-radius: 50%;

}


.about {
  box-sizing: content-box;
  border: solid;
  border-color: #61dafb;
  border-width: 5px; 
  background-color: #ff66c4;

  
}