.App {
  text-align: center;
  background-color: #5CE1E6;

}

.App-link {
  color: #61dafb;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 150px;
  width: 100%;
  padding-bottom: 10px;
  

}